html {
  scroll-behavior: smooth;
}
.wrapper {
  margin: 0 15px 0 15px;
}
.wrapper h2 {
  text-align: center;
  border: 1px solid black;
}
.wrapper section {
  text-align: center;
}
nav, .inner_nav {
  margin: 0;
}
nav li {
  display: inline-block;
}
